@model IEnumerable<BookMVC.Models.TblBook>

@{
    ViewData["Title"] = "Index";
}
<html>
<body style="background-image:url(../Shared/book.jpg)">
<h1>BMC</h1>
<a href="Books/Details">Show Books</a>
<a href="Books/Create">Add Book</a>
</body>
</html>


