#head1 {
  text-align: center;
  color: white;
  background-color: orange;
  border: 1px solid black;
  font-family: monospace;
  text-shadow: 1px -1px black;
}
#head5 {
  text-align: center;
  background-color: orange;
  text-align: center;
  color: white;
  font-family: monospace;
  width: 10%;
}
/* #leg1 {
  align-content: center;
} */
#div1 {
  background-color: pink;
  border: 1px solid black;
  fl
}
